# 1 - importations

## 1.1 Librairies

In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
matplotlib.use("tkAgg")
%matplotlib inline
import seaborn as sns
from ydata_profiling import ProfileReport

## 1.2 Données

In [2]:
management = pd.read_csv("BasicAndSafelyManagedDrinkingWaterServices.csv")
mortality = pd.read_csv("MortalityRateAttributedToWater.csv")
politic = pd.read_csv("PoliticalStability.csv")
population = pd.read_csv("Population.csv")
regions = pd.read_csv("RegionCountry.csv")

# 2 - Analyse des dataframes

In [3]:
profile_management = ProfileReport(management, minimal=True)
profile_management.to_file("profile_management.html")

In [4]:
profile_mortality = ProfileReport(mortality, minimal=True)
profile_mortality.to_file("profile_mortality.html")

In [5]:
profile_politic = ProfileReport(politic, minimal=True)
profile_politic.to_file("profile_politic.html")

In [6]:
profile_population = ProfileReport(population, minimal=True)
profile_population.to_file("profile_population.html")

In [7]:
profile_regions = ProfileReport(regions, minimal=True)
profile_regions.to_file("profile_regions.html")

# 3 - Nettoyage de données

## 3.1 - df management

In [3]:
management.rename(columns=
    {
        "Year":"annee",
        "Country":"pays",
        "Granularity":"granularite",
        "Population using at least basic drinking-water services (%)":"ratio acces eau de base",
        "Population using safely managed drinking-water services (%)":"ratio acces eau qualite"     
    },
  inplace = True
)

In [4]:
management["ratio acces eau de base"] = round(management["ratio acces eau de base"],2)
management["ratio acces eau qualite"] = round(management["ratio acces eau qualite"],2)
management["ratio acces eau de base"] = management["ratio acces eau de base"].fillna(0)
management["ratio acces eau qualite"] = management["ratio acces eau qualite"].fillna(0)

In [5]:
management.head()

,annee,pays,granularite,ratio acces eau de base,ratio acces eau qualite
0,2000,Afghanistan,Rural,21.62,0.00
1,2000,Afghanistan,Total,27.77,0.00
2,2000,Afghanistan,Urban,49.49,0.00
3,2000,Albania,Rural,81.78,0.00
4,2000,Albania,Total,87.87,49.29

In [6]:
management.to_csv("management4.csv")
management.to_excel("management4.xlsx")

## 3.2 - df mortality

In [7]:
mortality.rename(columns=
    {
        "Year":"annee",
        "Country":"pays",
        "Granularity":"granularite",
        "Mortality rate attributed to exposure to unsafe WASH services":"décès pour 100000 habitants",
        "WASH deaths":"nb morts eau insalubre"     
    },
  inplace = True
)

In [8]:
mortality["décès pour 100000 habitants"] = round(mortality["décès pour 100000 habitants"],2)
mortality["nb morts eau insalubre"] = round(mortality["nb morts eau insalubre"]).fillna(0).astype(int)
mortality.head()

,annee,pays,granularite,décès pour 100000 habitants,nb morts eau insalubre
0,2016,Afghanistan,Female,15.31,0
1,2016,Afghanistan,Male,12.61,0
2,2016,Afghanistan,Total,13.92,4824
3,2016,Albania,Female,0.13,0
4,2016,Albania,Male,0.21,0

In [9]:
mortality["annee"].unique()

array([2016], dtype=int64)

In [10]:
mortality.to_csv("mortality4.csv")
mortality.to_excel("mortality4.xlsx")

## 3.3 - df politic

In [11]:
politic.rename(columns=
    {        
        "Country":"pays",
        "Year":"annee",
        "Political_Stability":"stabilite politique",
        "Granularity":"granularite"
    },
  inplace = True
)

In [12]:
politic["pays"] = politic["pays"].replace({"North Macedonia":"Republic of North Macedonia"})

In [13]:
del politic["granularite"]

In [14]:
politic_chine = pd.DataFrame({
    "pays":["China","China","China","China","China","China","China","China","China","China","China","China","China","China","China","China","China","China"],
     "annee":[2000,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018],
     "stabilite politique":[0.44,0.46,0.54,0.68,0.70,0.58,0.40,0.50,0.43,0.43,0.48,0.50,0.50,0.65,0.66,0.65,0.72,0.66]
 }) 
#utilisation de la méthode "concat()".
politic = pd.concat([politic,politic_chine], ignore_index = True)

In [15]:
politic.head()

          pays  annee  stabilite politique
0  Afghanistan   2000                -2.44
1  Afghanistan   2002                -2.04
2  Afghanistan   2003                -2.20
3  Afghanistan   2004                -2.30
4  Afghanistan   2005                -2.07

In [16]:
politic.to_csv("politic4.csv")
politic.to_excel("politic4.xlsx")

## 3.4 - df population

In [3]:
population.rename(columns=
    {
        "Country":"pays",
        "Granularity":"granularite",
        "Year":"annee",
        "Population":"population"      
    },
  inplace = True
)

In [4]:
population["pays"] = population["pays"].replace({"North Macedonia":"Republic of North Macedonia"})
population["pays"] = population["pays"].replace({"Sudan (former)":"Sudan"})

In [5]:
population["population"]=(population["population"]*1000).astype(int)
population.head()

          pays granularite  annee  population
0  Afghanistan       Total   2000    20779953
1  Afghanistan        Male   2000    10689508
2  Afghanistan      Female   2000    10090449
3  Afghanistan       Rural   2000    15657474
4  Afghanistan       Urban   2000     4436282

In [6]:
population.to_csv("population4.csv")
population.to_excel("population4.xlsx")

## 3.5 - df regions

In [21]:
regions.rename(columns=
    {
        "REGION (DISPLAY)":"region",
        "COUNTRY (DISPLAY)":"pays"
    },
    inplace=True
)

In [22]:
#création d'un dictionnaire "regions_chines", où j'ajoute les régions composant la chine.
regions_chine = pd.DataFrame({
    "pays":["China, Hong Kong SAR","China, Macao SAR","China, mainland","China, Taiwan Province of"],
     "region":["Western Pacific","Western Pacific","Western Pacific","Western Pacific"]
 }) 
#utilisation de la méthode "concat()".
regions = pd.concat([regions,regions_chine], ignore_index = True)

In [23]:
# Création d'un dictionnaire "territoires", afin de leur désigner une région pour les pays n'en ayant pas d'assignée .

territoires = pd.DataFrame({
    "pays"  : ["Aruba","Channel Islands","Curaçao","French Guyana","French Polynesia","Guadeloupe","Guam","Martinique","Mayotte","Netherlands Antilles (former)",
               "New Caledonia","Palestine","Puerto Rico","Réunion","Serbia and Montenegro","United States Virgin Islands","Western Sahara","American Samoa",
               "Anguilla","Bermuda","Bonaire, Sint Eustatius and Saba","British Virgin Islands","Cayman Islands","Falkland Islands (Malvinas)","Faroe Islands","Gibraltar","Greenland","Holy See",
               "Isle of Man","Liechtenstein","Montserrat","Northern Mariana Islands","Saint Barthélemy","Saint Helena, Ascension and Tristan da Cunha","Saint Pierre and Miquelon","Saint-Martin (French part)","Tokelau","Turks and Caicos Islands",
               "Wallis and Futuna Islands","Sint Maarten  (Dutch part)","Montenegro"],
    "region" : ["Americas","Europe","Americas","Americas","Western Pacific","Americas","Western Pacific","Americas","Africa","Americas",
                "Western Pacific","Eastern Mediterranean","Americas","Africa","Europe","Americas","Africa","Western Pacific",
                "Americas","Americas","Americas","Americas","Americas","Americas","Europe","Europe","Europe","Europe",
                "Europe","Europe","Americas","Western Pacific","Americas","Europe","Americas","Americas","Western Pacific","Americas",
                "Western Pacific","Americas","Europe"]
    })

regions = pd.concat([regions,territoires], ignore_index = True)

In [24]:
regions.loc[regions["pays"] == "Sudan", "region"] = "Africa"
regions.loc[regions["pays"] == "Morocco", "region"] = "Africa"
regions.loc[regions["pays"] == "Libya", "region"] = "Africa"
regions.loc[regions["pays"] == "Egypt", "region"] = "Africa"
regions.loc[regions["pays"] == "Tunisia", "region"] = "Africa"
regions.loc[regions["pays"] == "Somalia", "region"] = "Africa "
regions.loc[regions["pays"] == "Djibouti", "region"] = "Africa "
regions.loc[regions["pays"] == "Turkey", "region"] = "Eastern Mediterranean"
regions.loc[regions["pays"] == "Israel", "region"] = "Eastern Mediterranean"
regions.loc[regions["pays"] == "Azerbaijan", "region"] = "Eastern Mediterranean"
regions.loc[regions["pays"] == "Armenia", "region"] = "Eastern Mediterranean"

In [25]:
regions.head()

                  region       pays
0                 Europe    Albania
1                 Europe    Andorra
2  Eastern Mediterranean    Armenia
3        Western Pacific  Australia
4                 Europe    Austria

In [26]:
regions.to_csv("regions4.csv")
regions.to_excel("regions4.xlsx")

# 4 - dataframes par indicateurs

## 4.1 - Populations / granularité

In [7]:
population_male = population.loc[population["granularite"]=="Male",:].copy()

population_male.rename(columns=
    {
        "population":"population hommes"
    },
    inplace=True
)

del population_male["granularite"]

population_male.head()

           pays  annee  population hommes
1   Afghanistan   2000           10689508
6   Afghanistan   2001           11117754
11  Afghanistan   2002           11642106
16  Afghanistan   2003           12214634
21  Afghanistan   2004           12763726

In [8]:
population_male.to_csv("population_male4.csv")
population_male.to_excel("population_male4.xlsx")

In [9]:
population_female = population.loc[population["granularite"]=="Female",:].copy()

population_female.rename(columns=
    {
        "population":"population femmes"
    },
    inplace=True
)

del population_female["granularite"]

population_female.head()

           pays  annee  population femmes
2   Afghanistan   2000           10090449
7   Afghanistan   2001           10489238
12  Afghanistan   2002           10958668
17  Afghanistan   2003           11466237
22  Afghanistan   2004           11962963

In [10]:
population_female.to_csv("population_female4.csv")
population_female.to_excel("population_female4.xlsx")

In [11]:
population_rurale = population.loc[population["granularite"]=="Rural",:].copy()

population_rurale.rename(columns=
    {
        "population":"population rurale"
    },
    inplace=True
)

del population_rurale["granularite"]

population_rurale.head()

           pays  annee  population rurale
3   Afghanistan   2000           15657474
8   Afghanistan   2001           16318324
13  Afghanistan   2002           17086910
18  Afghanistan   2003           17909063
23  Afghanistan   2004           18692107

In [12]:
population_rurale.to_csv("population_rurale4.csv")
population_rurale.to_excel("population_rurale4.xlsx")

In [13]:
population_urbaine = population.loc[population["granularite"]=="Urban",:].copy()

population_urbaine.rename(columns=
    {
        "population":"population urbaine"
    },
    inplace=True
)

del population_urbaine["granularite"]

population_urbaine.head()

           pays  annee  population urbaine
4   Afghanistan   2000             4436282
9   Afghanistan   2001             4648139
14  Afghanistan   2002             4893013
19  Afghanistan   2003             5155788
24  Afghanistan   2004             5426872

In [14]:
population_urbaine.to_csv("population_urbaine4.csv")
population_urbaine.to_excel("population_urbaine4.xlsx")

In [15]:
population_totale = population.loc[population["granularite"]=="Total",:].copy()

population_totale.rename(columns=
    {
        "population":"population totale"
    },
    inplace=True
)

del population_totale["granularite"]

population_totale.head()

           pays  annee  population totale
0   Afghanistan   2000           20779953
5   Afghanistan   2001           21606988
10  Afghanistan   2002           22600770
15  Afghanistan   2003           23680871
20  Afghanistan   2004           24726684

In [16]:
population_totale.to_csv("population_totale4.csv")
population_totale.to_excel("population_totale4.xlsx")

In [37]:
#population_sansChine = population.drop(population[population["pays"]=="China"].index)
#print(population_sansChine)

In [38]:
#population_sansChine.to_csv("population_sansChine.csv")

## 4.2 - Mortalité / granularité

In [39]:
mortality_female = mortality.loc[mortality["granularite"]=="Female",:].copy()

mortality_female.rename(columns=
    {
        "décès pour 100000 habitants":"décès femmes/100.000 habitants",
        "nb morts eau insalubre":"nb morts femmes"
    },
    inplace=True
)

del mortality_female["granularite"]

mortality_female.head()

,annee,pays,décès femmes/100.000 habitants,nb morts femmes
0,2016,Afghanistan,15.31,0
3,2016,Albania,0.13,0
6,2016,Algeria,2.20,0
9,2016,Angola,45.15,0
12,2016,Antigua and Barbuda,0.10,0

In [40]:
mortality_female.to_csv("mortality_female4.csv")
mortality_female.to_excel("mortality_female4.xlsx")

In [41]:
mortality_male = mortality.loc[mortality["granularite"]=="Male",:].copy()

mortality_male.rename(columns=
    {
        "décès pour 100000 habitants":"décès hommes/100.000 habitants",
        "nb morts eau insalubre":"nb morts hommes"
    },
    inplace=True
)

del mortality_male["granularite"]

mortality_male.head()

,annee,pays,décès hommes/100.000 habitants,nb morts hommes
1,2016,Afghanistan,12.61,0
4,2016,Albania,0.21,0
7,2016,Algeria,1.73,0
10,2016,Angola,52.63,0
13,2016,Antigua and Barbuda,0.12,0

In [42]:
mortality_male.to_csv("mortality_male4.csv")
mortality_male.to_excel("mortality_male4.xlsx")

In [43]:
mortality_total = mortality.loc[mortality["granularite"]=="Total",:].copy()

mortality_total.rename(columns=
    {
        "décès pour 100000 habitants":"décès total/100.000 habitants",
        "nb morts eau insalubre":"nb morts total"
    },
    inplace=True
)

del mortality_total["granularite"]

mortality_total.head()

    annee                 pays  décès total/100.000 habitants  nb morts total
2    2016          Afghanistan                          13.92            4824
5    2016              Albania                           0.17               5
8    2016              Algeria                           1.87             758
11   2016               Angola                          48.81           14065
14   2016  Antigua and Barbuda                           0.11               0

In [44]:
mortality_total.to_csv("mortality_total4.csv")
mortality_total.to_excel("mortality_total4.xlsx")

## 4.3 - Management / granularité

In [45]:
management_rural = management.loc[management["granularite"]=="Rural",:].copy()

management_rural.rename(columns=
    {
        "ratio acces eau de base":"ratio eau de base rural",
        "ratio acces eau qualite":"ratio eau qualite rural"
    },
    inplace=True
)

del management_rural["granularite"]

management_rural.head()

    annee         pays  ratio eau de base rural  ratio eau qualite rural
0    2000  Afghanistan                    21.62                      0.0
3    2000      Albania                    81.78                      0.0
6    2000      Algeria                    83.32                      0.0
9    2000      Andorra                   100.00                      0.0
12   2000       Angola                    21.15                      0.0

In [46]:
management_rural.to_csv("management_rural4.csv")
management_rural.to_excel("management_rural4.xlsx")

In [47]:
management_urban = management.loc[management["granularite"]=="Urban",:].copy()

management_urban.rename(columns=
    {
        "ratio acces eau de base":"ratio eau de base urbain",
        "ratio acces eau qualite":"ratio eau qualite urbain"
    },
    inplace=True
)

del management_urban["granularite"]

management_urban.head()

    annee         pays  ratio eau de base urbain  ratio eau qualite urbain
2    2000  Afghanistan                     49.49                       0.0
5    2000      Albania                     96.36                       0.0
8    2000      Algeria                     94.20                       0.0
11   2000      Andorra                    100.00                       0.0
14   2000       Angola                     61.07                       0.0

In [48]:
management_urban.to_csv("management_urban4.csv")
management_urban.to_excel("management_urban4.xlsx")

In [51]:
management_total = management.loc[management["granularite"]=="Total",:].copy()

management_total.rename(columns=
    {
        "ratio acces eau de base":"ratio eau de base total",
        "ratio acces eau qualite":"ratio eau qualite total"
    },
    inplace=True
)

del management_total["granularite"]

management_total.head()

    annee         pays  ratio eau de base total  ratio eau qualite total
1    2000  Afghanistan                    27.77                     0.00
4    2000      Albania                    87.87                    49.29
7    2000      Algeria                    89.84                     0.00
10   2000      Andorra                   100.00                    90.64
13   2000       Angola                    41.14                     0.00

In [52]:
management_total.to_csv("management_total4.csv")
management_total.to_excel("management_total4.xlsx")

In [65]:
#data_final["annee"] = pd.to_datetime(data_final["annee"],format = "%Y")

In [ ]:
#data_final.to_csv("data_final.csv")
#data_final.to_excel("data_final.xlsx")